.topFiveForm {
  margin: 40px;
  padding: 20px;
  width: 1100px;
  background-color: rgba(49, 152, 106, 0.8);
  border-radius: 5px;
}

.dropdown-container {
  display: flex;
  justify-content: space-evenly;
  width: 1100px;
}

.personal-details-container {
  display: flex;
  width: 1100px;
  margin-bottom: 20px;
}

.select-form-title {
  color: #000818;
}

.number {
  font-weight: bold;
  font-size: 20px;
}

.choiceSubmitButton {
  height: 40px;
  width: 200px;
  background-color: #2b7cc0;
  border: solid 3px #000818;
  color: #000818;
  font-size: 20px;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 20px;
}

.choiceSubmitButton:hover {
  transform: scale(1.1);
}

.chrisImage1 {
  width: 100px;
  height: auto;
  margin: 0;
}

.chrisImage2 {
  width: 100px;
  height: auto;
  margin: 0;
  animation: move2 1s;
}

.chrisImage3 {
  width: 100px;
  height: auto;
  margin: 0;
  animation: move3 1s;
}

.chrisImage4 {
  width: 100px;
  height: auto;
  margin: 0;
  animation: move4 1s;
}

.chrisImage5 {
  width: 100px;
  height: auto;
  margin: 0;
  animation: move5 1s;
}

.noChrisImage {
  display: none;
  margin: 0;
}

@keyframes move2 {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes move3 {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes move4 {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes move5 {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0px);
  }
}
