nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 70px;
}

ul {
  display: flex;
  list-style-type: none;
}

.navLink {
  margin: 30px;
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
  color: #000818;
}

.navLink:hover {
  color: #2b7cc0;
}

.activeLink {
  color: #2b7cc0;
}
