body {
  background-color: green;
}

@keyframes wobble {
  0% {
  }
  25% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.first {
  animation: wobble 2s infinite;
  width: 300px;
  height: auto;
  margin: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.second {
  animation: move 3s;
  width: 150px;
  position: relative;
  left: -600px;
}

@keyframes move {
  0% {
    transform: translateX(40vw);
    width: 300px;
  }
  100% {
    transform: translateX(0px);
    left: -600px;
    width: 150px;
  }
}

#fixed {
  position: fixed;
  width: 150px;
  left: 10px;
  bottom: 400px;
}
